# This is a basic workflow to help you get started with Actions

name: Check comment

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      - name: custom actions try
        uses: alezhuu/check-message-action@main
        with:
          push_message: ${{ github.event.head_commit.message }}
          pull_message: ${{ github.event.pull_request.title }}

      - name: Get Result
        run: echo "The result is ${{ steps.custom actions try.outputs.result }}"
      
